* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --primary: #282B32;
    --scond: #282B32;
    --background: #FC4B2C;
}


/* ############### Home page ################### */

.container {
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 40px;
    align-items: center;
    margin-top: 1rem;
}

.container .link-group ul {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.container .link-group ul li {
    list-style: none;
}

.container .link-group ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: var(--primary);
}

.container .link-group ul li:hover a {
    border-top: 3px solid var(--background);
}

.container .link-group ul li a.signUp {
    border-radius: 30px;
    background-color: var(--background);
    box-shadow: 2px 2px 0px 1px #cc2103;
}

.container .logo {
    font-weight: 800;
    color: rgb(0, 0, 0);
}

.container .link-group .hamburger {
    display: none;
    margin-right: 1rem;
}


/* ############### media query ################ */

@media only screen and (max-width: 960px) {
    .container .link-group ul {
        display: none;
    }
    .container .link-group .hamburger {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .d-flex {
        display: flex !important;
    }
}