* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --primary: #282B32;
    --scond: #282B32;
    --background: #FC4B2C;
}


/* ############### Home page ################### */

.container {
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 40px;
    align-items: center;
}

.container .link-group ul {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.container .link-group ul li {
    list-style: none;
}

.container .link-group ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: var(--primary);
}

.containner .link-group ul li a.Sign-Up {
    /* background-color: var(--background); */
    border-radius: 30px;
}

.container .logo {
    font-weight: 800;
    color: rgb(0, 0, 0);
}

.container .link-group .hamburger {
    display: none;
    margin-right: 1rem;
}


/* ############### media qury ################ */

@media only screen and (max-width: 960px) {
    .container .link-group ul {
        display: none;
    }
    .container .link-group .hamburger {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .d-flex {
        display: flex !important;
    }
}


.container .link-group ul li  ::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.275rem;
    background: #FC4B2C;
    left: 0;
    top: 0;

}

.container .link-group::after {
    transform: scale(0,1);
}

.container .link-group ul li :hover::after{
    transform: scale(1,1);
} 